
nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 1rem;
}

nav a {
    text-decoration: none;
}

nav a:hover, 
nav a:active, 
nav a.active {
    color: #fa923f;
}